.principal{
    margin: 10px;
    border: solid 5px;
    align-items: center;
    text-align: center;
    background: url(imagenes/muñeco.png);
}
.container{
    border-radius: 10px;
    margin: 5px;
    border: solid 2px;
    align-items: center;
color: blue;
}
.botonesEncriptadores{
    display: flex;
    margin:30px;
    justify-content: space-around;
    align-items: center;

}
.botonesEncriptadores:hover{
    box-shadow: 10px 10px 30px 15px;
     margin: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px ;
    align-items: center;
    background: black;
}
 .showText{
     margin: 20px;
 }
  .mensaje{
    margin: 5px;
    width: 100%;
    text-align: center;
    border: groove 10px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Combo', cursive;
    color: blue;
    }
    .input-texto {
        width: 80%;
        box-shadow: 10px 10px 30px 15px  blue;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
    color: rgb(120, 35, 35);
    margin: 20px;
    }
.encriptar {
    vertical-align: 40px;
    background: rgb(120, 35, 35);
    border-radius: 10px;
    border-color: grey;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.desencriptar {
    vertical-align: 40px;
    background: rgb(120, 35, 35);
    border-radius: 10px;
    border-color: grey;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.input-texto:hover {
    width: 80%;
    height: 50px;
    box-shadow: 10px 10px 30px 15px   blue;;
    text-align: center;
    border-radius: 10px;
    border-color: grey;
    font-size: 30px;
    font-weight: bold;
    background: black;

}
.botonesEncriptadores2{
    display: flex;
    margin:20px auto;
    justify-content: space-around;
    align-items: center;

}
.copiar {
    height:50px;
    width: 60px;
    font-weight: bold;
    border-radius: 10px;
    vertical-align: middle;
    background:darkblue
}
.pegar {

    height:50px;
    width: 60px;
    font-weight: bold;
    border-radius: 10px;
    vertical-align: middle;
    background:darkblue
}
mark{
    vertical-align:-15px;
    font-weight: bold;
    text-align: center;
}
.seccion1Botones{
    margin: 5px;
    border: solid 2px blue;
background: blue;
border-radius: 10px;
padding: 5px;
background: url(imagenes/muñeco.png);
}
.botones{
    background:darkblue;
    text-align: center;
    border-radius: 10px;
    border-color: grey;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 5px;

}


.botonSpace {
    width: 45%;
    height: 35px;
    background: rgb(120, 35, 35);
    text-align: center;
    border-radius: 10px;
    border-color: grey;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

@media(max-width: 769px) {
    .principal{
        width: 100%;

    }
.container{
    margin: 10px;
    width:auto;


}
.botonesEncriptadores{
    width: auto;
}
.input-texto{
    width: 80%;
}
.mensaje,{
   width:  50%;}
.showText,.table,.seccion1Botones,.botones,.botonSpace{
width:auto;
}
}